* {
  outline: none;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

.login {
  margin: 0 82px;
}

.logo {
  margin-top: 51px;
}

.sign-up {
  margin-top: 112px;
  margin-bottom: 64px;
}
.sign-up h1 {
  font-size: 28px;
  font-weight: bold;
}
.sign-up p a {
  text-decoration: none;
  color: #065bea;
  transition: 0.3s;
}
.sign-up p a:hover {
  color: #0a4ab6;
  transition: 0.3s;
}

.form {
  margin-bottom: 200px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
}
.input a {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #75777a;
  position: absolute;
  top: 47px;
  right: 14px;
  transition: 0.3s;
}

.input a:hover {
    color: #333333;
    transition: 0.3s;
}

.input input {
  background: #f6f7fa;
  border: 1px solid #065bea;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 18px 0 19px 20px;
  height: 54px;
  transition: 0.3s;
}
.input input[type="email"],
.input input[type="password"] {
  font-weight: 600;
  font-size: 14px;
}

.error-password,
.error-email {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #ff4b26;
}
.input label {
  margin-bottom: 14px;
}
.input input:focus {
  outline: none;
}

.input .error {
  border: 1px solid #ff4b26;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  background: #ffffff;
  perspective: 1000px;
  transition: 0.3s;
}
.input .complete {
  border: 1px solid #6fcf97;
  transition: 0.3s;
}

.btn {
  position: relative;
  color: #fff;
  background: #065bea;
  border-radius: 8px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.7s;
  z-index: 1;
}

.btn::before {
  width: 100%;
  height: 30px;
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;
  background: #0451d2;
  opacity: 0.83;
  filter: blur(20px);
  border-radius: 8px;
  transition: 0.7s;
  z-index: -1;
}
.btn:hover::before {
  background: rgba(6, 91, 234, 0.5);
}
.btn:hover {
  background: #0451d2;
  transition: 0.7s;
}

.disabled::before {
  background: none;
}

.disabled:hover::before {
  background: none;
}
.disabled {
  background: #c6d0e0;
}
.disabled:hover {
  background: #c6d0e0;
  cursor: default;
  transition: 0.7s;
}

.display-none {
  display: none;
}

.links {
  margin-bottom: 20px;
}

.links a {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #75777a;
  margin-right: 25px;
  transition: 0.3s;
}
.links a:hover {
  color: #333333;
  transition: 0.3s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(0px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.slider {
  margin: 20px 0px 20px 20px;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 800px;
  background: #065bea;
  background-image: url("../assets/bg-shapes.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}
.slick-slide img {
  width: 512px;
  height: auto;
  margin: 0 auto;
}

.slider-img {
  position: relative;
}
.slider-img::before {
  position: absolute;
  content: "";
  width: 512px;
  height: 100%;
  background: rgba(0, 46, 123, 0.7);
  filter: blur(25px);
  z-index: -3;
  margin-left: auto;
  margin-right: auto;
  top: 40px;
  left: 0;
  right: 0;
}
.slider-text {
  margin-top: 63px;
  margin-bottom: 60px;
  color: #fff;
  text-align: center;
}

.slider-text h2 {
  font-weight: 600;
  font-size: 20px;
}
.slider-text p {
  font-weight: 600;
  font-size: 14px;
}

.slick-dots li.slick-active button:before,
.slick-dots li button:before {
  color: #fff !important;
}

@media screen and (max-width: 1240px) {
  .login {
    margin: 0 20px;
  }

  .slider {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .slider {
    overflow: hidden;
    width: 100%;
    margin: 0;
  }
  .slider-container {
    max-width: unset;
  }

  .slider-container {
    border-radius: 0;
  }
}

@media screen and (max-width: 530px) {
  .slider {
    display: none;
  }
  .login {
    margin: 10px;
  }
}
